[submodule "ROAR_Jetson"]
	path = ROAR_Jetson
	url = https://github.com/augcog/ROAR_Jetson.git
[submodule "ROAR_Sim"]
	path = ROAR_Sim
	url = https://github.com/augcog/ROAR_Sim.git
[submodule "BARC_Hardware_Release"]
	path = BARC_Hardware_Release
	url = https://github.com/closest-num-2-0/BARC_Hardware_Release
