[submodule "ROAR_Jetson"]
	path = ROAR_Jetson
	url = https://github.com/augcog/ROAR_Jetson.git
[submodule "ROAR_Sim"]
	path = ROAR_Sim
	url = https://github.com/augcog/ROAR_Sim.git
[submodule "ROAR_Gym"]
	path = ROAR_Gym
	url = https://github.com/augcog/ROAR_Gym.git
[submodule "ROAR_iOS"]
	path = ROAR_iOS
	url = https://github.com/wuxiaohua1011/ROAR-iOS
