certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
numpy==1.21.3
opencv-contrib-python==4.5.4.58
Pillow==8.4.0
pydantic==1.8.2
pygame==2.0.3
qrcode==7.3.1
requests==2.26.0
scipy==1.7.1
simple-websocket-server==0.4.1
typing-extensions==3.10.0.2
urllib3==1.26.7
websocket-client==1.2.1
